extends ./layout

block title 
    | header

block style
    style.

block content
    c-header(:left="left", title="顶部标题", :right="right", type="dark")
    c-grid(:no-border="false", :cols='2')
        c-grid-item
            div 123123
        c-grid-item
            div 123123
        c-grid-item
            div 123123
        c-grid-item
            div 123123
        c-grid-item
            div 123123
        c-grid-item
            div 123123
        c-grid-item
            div 123123
        c-grid-item
            div 123123
    c-dialog(
        title='标题：对话框',
        message='请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作请选择操作', 
        confirm-message='确定',
        cancel-message='取消',
        min-height='140px',
        v-model='isShow')
            
block script
    script.
        new Vue({
        el: '#app',
            data () {
                return {
                    isShow: false,
                    left:{
                        icon: "ion-chevron-left",
                        //- text: "返回",
                        click: this.event
                    },
                    right:{
                        icon: "ion-navicon-round",
                        //- text: "菜单",
                        click: this.event
                    }
                }
            },
            methods: {
                event(){
                    this.isShow = true
                }
            }
        })