extends ./layout

block title
  | uploader

block content
    div.margin-10
        c-panel(link='/candy/tests/index.html',title='uploader', legend='back menu')
            //- http://www.actionphp.com/action.php
            c-uploader(:limit="20", 
                        action="http://172.30.0.156/action.php", 
                        :files="files",
                        :on-success="onSuccess",
                        :on-error="onError",
                        :on-progress="onProgress",
                        :on-preview="onPreview",
                        accept="image/*",
                        :before-upload="beforeUpload"
                    )

            c-gallery(v-model="show", 
                    :img='imgUrl',
                    :on-click="clickBtn")
            c-toast(message="不能上传.jpeg格式的图片", 
                    type="error", 
                    v-model="showToast", 
                    :show-time="2000000000") 
            c-dialog(
                title='提示',
                message='确认要删除这张图片吗？', 
                confirm-message='确定',
                cancel-message='取消',
                @cancel='cancel',
                @confirm='confirm',
                v-model='showDialog')
block script
  script.
  
    new Vue({
        el: '#app',
        data: function () {
            return {
                showToast: false,
                files:[],
                //- files: [{url:"http://img02.tooopen.com/images/20160408/tooopen_sy_158723161481.jpg"},
                //- {url:"http://img02.tooopen.com/images/20160408/tooopen_sy_158723161481.jpg"},
                //- {url:"http://img02.tooopen.com/images/20160408/tooopen_sy_158723161481.jpg"}],
                id: 1,
                show: false,
                imgUrl: '',
                showDialog: false
            }
        },
        methods: {
            onSuccess: function(res, file){
                this.files.push({
                    id: res.id || this.id++,
                    name: res.name || file.name,
                    url: res.url
                })
            },
            onError: function(res, file){
                //- console.log(res, file)
            },
            onProgress: function(file, o){
                console.log("onProgress: (file:"+file+";o:"+o)
            },
            onPreview: function(url){
                this.imgUrl = url
                this.show = true
            },
            clickBtn: function(){

                this.showDialog = true;

            },
            cancel(){
                this.showDialog = false
            },
            confirm(){

                this.files = this.files.filter(o => {
                    return o.url != this.imgUrl
                })
                this.showDialog = false

                this.show = false
            },
            beforeUpload: function (file, callback){

                if (file.name.indexOf('.jpeg') !== -1 || file.name.indexOf('.jpg1') !== -1){
                    //- alert('不能上传.jpeg格式的图片')
                    callback(false)
                    this.showToast = true
                }
                else {
                    callback(true)
                }
            }
        }
    })
